azure-function/.vscode/
azure-appservice/obj/
azure-appservice/bin/Debug/net8.0/appsettings.Development.json
azure-appservice/bin/Debug/net8.0/appsettings.json
azure-appservice/bin/Debug/net8.0/Azure.Core.Amqp.dll
azure-appservice/bin/Debug/net8.0/Azure.Core.dll
azure-appservice/bin/Debug/net8.0/Azure.Identity.dll
azure-appservice/bin/Debug/net8.0/Azure.Messaging.ServiceBus.dll
azure-appservice/bin/Debug/net8.0/Azure.Security.KeyVault.Certificates.dll
azure-appservice/bin/Debug/net8.0/Azure.Security.KeyVault.Secrets.dll
azure-appservice/bin/Debug/net8.0/azure-appservice.deps.json
azure-appservice/bin/Debug/net8.0/azure-appservice.dll
azure-appservice/bin/Debug/net8.0/azure-appservice.exe
azure-appservice/bin/Debug/net8.0/azure-appservice.pdb
azure-appservice/bin/Debug/net8.0/azure-appservice.runtimeconfig.json
azure-appservice/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
azure-appservice/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
azure-appservice/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
azure-appservice/bin/Debug/net8.0/Microsoft.AspNetCore.DataProtection.Abstractions.dll
azure-appservice/bin/Debug/net8.0/Microsoft.AspNetCore.DataProtection.dll
azure-appservice/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Azure.Amqp.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Abstractions.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Client.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Web.Certificate.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Web.Certificateless.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Web.Diagnostics.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Web.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Web.TokenAcquisition.dll
azure-appservice/bin/Debug/net8.0/Microsoft.Identity.Web.TokenCache.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.LoggingExtensions.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
azure-appservice/bin/Debug/net8.0/Microsoft.IdentityModel.Validators.dll
azure-appservice/bin/Debug/net8.0/Microsoft.OpenApi.dll
azure-appservice/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
azure-appservice/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
azure-appservice/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
azure-appservice/bin/Debug/net8.0/System.ClientModel.dll
azure-appservice/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
azure-appservice/bin/Debug/net8.0/System.Memory.Data.dll
azure-appservice/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
azure-appservice/bin/Debug/net8.0/System.Security.Cryptography.Xml.dll
azure-appservice/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
azure-appservice/.vs/
azure-appservice/bin/
azure-appservice/azure-appservice.csproj.user
